<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>文档标题</title>
</head>
<body>
	<h2>游帮迪拜网络平台服务条款</h2>
  	<p>游帮用户在完成注册时，表明用户与该平台达成协议并接受所有的服务条款作为协议内容，并成为游帮网络平台用户（以下简称“用户”）。本网站保留不经事先通知用户即具有修改本服务条款的权利，服务条款一旦发生修改，将会在网站相关页页面上通知并提示修改内容。如果不同意所修改的内容，用户有权停止使用服务。如果用户继续使用游帮服务，则视为接受服务条款的修改。</p>
  	<h3>1.服务说明</h3>
  	<p>游帮-迪拜服务平台致力于迪拜租车及司兼导服务。大体分为四个板块： 租车自驾 、巴士租赁 、冲沙车预订 、司兼导服务。租车自驾的所有规定以汽车租赁合同为准，其他服务相关信息均可在网站查询。为使用本服务，用户必须能够自行经有法律资格对用户提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。</p>
  	<h3>2.遵守法律</h3>
  	<p>用户同意遵守国际相关法律法规所有规定，并对以任何方式通过用户的密码和用户的用户名使用本服务的任何行为及其结果承担全部责任。用户如违反法律规定，有可能造成犯罪，将被追究刑事责任。</p>
  	<h3>3.用户资格</h3>
  	<p>本服务不提供给被游帮网以任何理由从系统中暂停或删除的用户。另外，用户不可出售、转卖或者转让账户给第三方。如果用户不符合资格，将被禁止使用该服务。</p>
  	<h3>4.使用规则</h3>
  	<p>该服务的使用受本服务条款的约束，本网站有权不经事先通知以任何理由拒绝向任何人提供服务。用户一旦注册成功，成为本网合法用户，每个用户在本网站都有相应的用户性和密码，用户有责任维护用户名和密码的安全性和保密性。</p>
  	<h3>5.知识产权保护</h3>
  	<p>网站和服务中的所有知识产权（包括但不限于著作权、专利、商标、服务标识、商号、设计、不论是否登记注册）、网站中的信息内容或作为服务内容的信息、运营数据库、所有网站设计以及图文音像组合均为本网所有，受法律保护，未经游帮迪拜书面同意，上述任何材料不得以任何方式被复制、转发、下载等。</p>
  	<h2>隐私权政策</h2>
  	<h3>
      1.对用户的保护
    </h3>
    <p>
        游帮非常重视用户的隐私，承诺保护用户的个人隐私。游帮将仅以合法方式(根据《互联网信息服务管理办法》及其他有关数据保护的法规)收集和使用用户的信息。请注意，用户使用本网站应遵守本隐私政策声明(下称“本政策”)和网站公布的服务条款(下称“服务条款”)的规定。本政策对下列情况进行说明:游帮在网站收集什么信息，游帮如何使用和/或共享该信息以及如何保护该信息。用户使用本网站即表示用户接受本政策。如用户不同意本政策条款的全部或部分内容，则请不要使用本网站，否则视为用户接受本政策。请注意，本政策仅适用于通过游帮收集的信息，而不适用于通过其他方法或信息源获取的信息。本政策保证用户提供给游帮任何信息均处于私密状态并受到保护。为达到这一目的，游帮在以下几方面做出规定:用户向游帮提供什么信息、该等信息将被如何使用，特别是该等信息在何种情况下不得被使用。未经用户的明确同意，游帮绝不收集有关用户的任何敏感信息。游帮将尽力确保游帮所掌握的信息准确无误并根据用户所提供的信息使其保持最新的状态。如用户告知游帮信息不准确，游帮将立即删除或纠正。
    </p>
    <h3>
        2.个人标识信息-收集个人标识信息
    </h3>
    <p>
        游帮收集的个人标识信息是用户在注册时或回复某项信息请求时自愿提供的信息。游帮还可以收集用户的互联网协议地址(“IP地址”)，以通过游帮的服务器帮助诊断问题并对本网站进行管理。IP地址系指用户使用互联网时向用户的计算机分配的号码。用户的IP地址还可用于帮助在某一特定期间对用户进行识别并收集广泛的统计数据。游帮可能要求用户在使用网站时提供电子邮箱地址。而且，游帮可能要求用户提供以下部分或全部的个人标识信息:姓名、国籍、电话号码、图片和付款方式详细信息(如信用卡信息)。针对以上信息，游帮均有权收集。
    </p>
    <h3>
        3.个人标识信息的使用和共享
    </h3>
    <p>
        所有个人标识信息均应根据有关数据保护的法规予以保存。游帮使用用户的个人标识信息是为了向用户提供游帮的相关信息、更好地向用户提供服务并对游帮进行广告宣传。游帮的原则是不向游帮之外的任何其他机构出售或提供用户的个人标识信息，但为防止诈骗和依法调查之目的而需提供的情况除外。未经用户的同意，游帮绝不为任何第三方的营销目的而向其披露、出售或出租用户的个人标识信息。尽管有上述规定，游帮有权将用户的个人标识信息提供给游帮的代理商和分包商、合作商，以帮助游帮按照本政策的规定使用用户的数据。此外，游帮始终有权为以下目的披露个人专有信息:
        <p>1、用户同意让第三方共享资料;</p>
        <p>2、用户同意公开其个人资料，享受为其提供的产品和服务;</p>
        <p>3、遵守适用法律的规定;</p>
        <p>4、回复政府部門或准政府部門的质询;</p>
        <p>5、依法保护游帮的权利或财产、本网站和/或本网站的其他用户。</p>
        <p>6、请用户注意，除上述关于个人标识信息共享的规定外，游帮可能将用户的信息发送至其他国家，包括发送至中国以外的国家，以满足游帮业务和管理的需要。游帮将按照中国网络和信息安全的规定进行上述信息的境外传送。中国以外的部分地区可能没有相关的信息保护法律，或对个人标识的保护程度低于中国提供的保护程度。用户向游帮提交个人标识信息即表示用户确认:尽管游帮按照本政策规定的方式使用用户的信息，但游帮将不对收取和处理用户的数据的第三方使用用户的数据承担任何责任。</p>  
    </p>
</body>
</html>
